@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');


/* Background colours*/

body {
    background-color: #212529;

}



.page-selector {
    padding-right: 260px;
}

.page-selector p {
    float: right;
    padding-top: 25px;
    padding-bottom: 100px;
    padding-left: 30px;
    color: #f59c27;
    cursor: pointer;
}



/*----------------------------------------- Nav*/

.navbar img {
    height: 50px;
    width: 100px;
    padding-top: -25px;
}

.navbar-nav .nav-link {
    color: #f59c27;
    padding-left: 18px;
    font-size: 17px;
}

.navbar-nav {
    background-color: #212529;
    margin: 0 0 0 auto;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    padding-bottom: 0;
}

.current {
    text-transform: underline;
}

.custom-toggler.navbar-toggler {
    border-color: #f59c27;
  } 

  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(245,156,39, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

/*----------------------------------------- modal*/

#myModal {
    color: #f59c27;
}

#modal-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 110px;
    width: 110px;
    padding-top: 12px;
}

#modal-title {
    font-size: 60px;
    display: inline-block;
    padding-top: 10px;
}

#modal-symbol {
    font-family: 'Zen Dots', cursive;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 5px;

}

.modal-content p {
    padding-left: auto;
    padding-right: auto;
}

.modal-content {
    background-color: #212529;
    padding-bottom: 20px;

}

.modal-catagory {
    padding-left: 190px;
    font-size: 26px;
}

@media (max-width: 767.98px) { 
    .modal-catagory {
        padding-left: 16px;
        font-size: 18px;
    }
}

@media (max-width: 991.98px) { 
    .modal-catagory {
        padding-left: 46px;
        font-size: 22px;
    }
}


#modal-price , #modal-volume , #modal-market-cap {
    color: #fafafa;
    font-size: 26px;
}

#modal-price {
    padding-left: 80px;
}
@media (max-width: 767.98px) { 
    #modal-price {
        padding-left: 20px;
        font-size: 18px;
    }
}

#modal-volume {
    padding-left: 80px;

}

@media (max-width: 767.98px) { 
    #modal-volume {
        padding-left: 21px;
        font-size: 18px;
    }
}

#modal-market-cap {
    padding-left: 96px;

}

@media (max-width: 767.98px) { 
    #modal-market-cap {
        padding-left: 33px;
        font-size: 18px;
    }
}

/*---------- Search--------*/

.search-and-table {
    position: relative;
}

.search-col {
    padding-top: 80px;
}

#search-bar {
    position: absolute; 
    bottom: 0;
    width: 230px;
    height: 40px;
    margin-left: 225px;
    margin-right: 0px; 
    margin-bottom: 6px;
    background-color: #212529;
    border: 1px solid #8a8a8a;
    border-radius: 2px;
    color: #8a8a8a;
}

@media (max-width: 991.98px) {
    #search-bar {
        margin-left: 38px;
    }
}

@media (max-width: 767.98px) {
    #search-bar {
        margin-left: 2px;
        width: 130px;
        height: 30px;
    
    }
}

#search-bar:focus{
    outline: none;
    box-shadow: 0px 0px 2px #f59c27
}

/* ------ global data -------- */
.global {
    color: #fafafa;
    padding-left: 20px;
}

.global-col {
    border-top: 1px solid #8a8a8a;
    border-bottom: 1px solid #8a8a8a;
    color: #fafafa;
    padding-bottom: 3px;
    display: flex;
    justify-content: center;

}

@media (max-width: 991.98px) {
    .global-col {
        display: none;
    }
}


@media (max-width: 767.98px) {
    .global {
        display: none;
    }
    .search-col {
        padding-top: 50px;
        padding-left: 8px;
    }
}

.global-col p {
    display: inline-block;
    vertical-align: top;
}


p {
    margin-bottom: 0px;
}

.total_market_cap {
    color: #fafafa;
}

/* ----- table ----- */
table, th, td {
    border-bottom: 1px solid #8a8a8a;
}

th {
    border-top: 1px solid #8a8a8a;
    font-size: 20px;
}

@media (max-width: 575.98px) { 
    th {
        font-size: 16px;
    }
    td {
        font-size: 13px;
    }
}

table {
    background-color: #212529;
    position: relative;
}

tr {
    color: #fafafa;
    height: 40px;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 767.98px) { 
    .rank-head {
        padding-left: 13px;
    }
}


.name-head {
    padding-right: 15px;
    text-align: left;
    padding-left: 30px;
}

@media (max-width: 767.98px) { 
    .name-head {
        padding-right: 2px;
        padding-left: 5px;
    }
}


.symbol-head {
    padding-right: 35px;
    padding-left: 35px;
}

@media (max-width: 767.98px) { 
    .symbol-head {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.price-head {
    padding-right: 35px;
    padding-left: 35px;
}

.percent-head {
    padding-right: 25px;
    padding-left: 25px;
}

.volume-head {
    padding-right: 75px;
    padding-left: 75px;
}

.market-cap-head {
    padding-right: 75px;
    padding-left: 75px;
    
}
/*----- Tablet Size - Table -----*/
@media (max-width: 991.98px) { 
    .volume-head , .coin-volume {
        display: none;
    }
    .market-cap-head , .coin-market-cap {
        display: none;
    }
 }

 @media (max-width: 767.98px) { 
     .percent-head , .coin-percent {
         display: none;
     }
 }

th {
    color: #f59c27;
    font-family: 'Roboto', sans-serif;
}

#coin-info {
    background-color: #fafafa;

}

.coins-table img {
    height: 25px;
    width: 25px;
}

.symbol {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 800;
    color: #f59c27;
    font-family: 'Zen Dots', cursive;
}

tr {
    text-align: center;
}

.coin-name {
    text-align: left;
    padding-left: 30px;
}

.coin-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 767.98px) { 
    .coin-name {
        padding-left: 2px;
    }
}



/* --------- Form --------*/

.contact-row {
    margin-top: 50px;
}

.contact-header {
    color: #f59c27;
    font-size: 30px;
    text-align: center;
    font-family: 'Zen Dots', cursive;
}

.contact-blurb {
    color: #fafafa;
    font-size: 22px;
    text-align: center;
    margin-bottom: 40px;
    padding-left: 65px;
    padding-right: 65px;
    font-family: 'Roboto', sans-serif;
}

input , textarea {
    display: block;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

input {
    width: 340px;
    height: 50px;
}

textarea {
    width: 340px;
    height: 200px;
}

#form-cv {
    color: #fafafa;
}

#attach-label {
    padding-left: 235px;
    color: #f59c27;
}

.form-button {
    display: block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #f59c27;
    border-radius: 0.3em;
    color: #fafafa;
    text-align: center;
    margin: auto;
    background-color: #212529;
    width: 120px;
    height: 60px;
    font-size: 20px;
}

.form-button:hover {
    background-color: #f59c27;
    transition: 0.2s;
}

.form-button:active {
    background-color: #fafafa;
    color: #f59c27;
}

form input:focus{
    outline: none;
    box-shadow: 0px 0px 4px #f59c27
}

form textarea:focus{
    outline: none;
    box-shadow: 0px 0px 4px #f59c27
}

label {
    color: #fafafa;
}
    



footer {
    padding-top: 250px;

}




#map {
    height: 450px;
    width: 90%;
    margin: auto;
  }

  @media (max-width: 767.98px) { 
      footer {
          padding-top: 100px;
      }
      .form-header {
          padding-top: 40px;
      }
      .contact-blurb {
          padding: 0 30px 0 30px;
      }
   }

   @media (max-width: 575.98px) { 
       input, textarea {
           width: 280px;
       }
    }
